.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  border: 1px solid black;
  color: blue;
  text-align: center;
  background: gray;
}
#nav-list a:hover {
  background: yellow;
}


#our-menu {
  font-size: 3em;
}


#menu-item h3{
  text-align: center;
}

#menu-item{
  width: 100%;
  height: 1000px;
  margin-bottom: 15px;
  border: 2px solid #3F0C1F;
  overflow: scroll;
  background: yellow;
}
